.app {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
padding: 0 15px;
}

.appWrapper {
  display: flex;
  flex-wrap: wrap;
}

.todoList {
  width: 280px;
  min-height: 350px;
  margin-right: 20px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.todoList > div {
  padding: 10px;
}

.todoList-task {
position: relative;
}

.buttonClose {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;
  color: red;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}
label,
input {
  cursor: pointer;
}


.filter-active {
  background-color: blue;
}

.error {
  border-color: red;
}

.todoList-task.done {
  opacity: 0.5;
}

.todoList-footer {
  display: flex;
}

.todoList-footer-block {
  margin-right: 20px;
}


.btnNewTaskForm {
  background-color: green;
  composes: btn from "../index.css";
 
}

.todoList-header__wrapper {
  position: relative;
  display: flex;
 align-items: center;
}

.btnClose {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;
  color: red;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}

.titile-newTaskForm {
  width: 250px;
  padding: 40px 0;
  margin: 0 auto;
}